<ul>
<li><img src="/images/jq.jpg" alt="foto_jq" border="0"/><strong>Nombre:</strong> Juan Quemada - Profesor</li>
<li><img src="/images/photo.jpg" alt="foto_mgc" border="0"/><strong>Nombre:</strong> Miquel González Cie - Alumno</li>
</ul>
	
