<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8">
    <title><%= title %></title>
	<link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2><%= title %>: el juego de las preguntas</h2>
	
	<p><%= respuesta %></p>
    <p><a href="/quizes/question">Inténtalo otra vez</a></p>
	
  </body>
</html>
