<form method="get" action="/quizes">
	<p>Formulario de búsqueda</p>
	<input type="text" name="search" value="" placeholder="Buscar" />
	<input type="submit" value="Buscar">
</form>


<form method="get" action="/quizes/answer">
	<p>Pregunta: <%= pregunta %></p>
	<input type="text" name="respuesta" value="" placeholder="Responda aquí" />
	<input type="submit" value="Enviar">
</form>

<p><a href="/quizes">Volver</a></p>